.section-one {

    @extend  %body-width-and-padding;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 100%;

    @media only screen and (min-width: 1600px) {

        margin-top: 3.5%;

    }

    &-ellipse {

        @include media-query(pc-low-resolution) {

            top: -110vh;
            right: -50vw;

        }

        @include media-query(tablet) {

            top: -140vh;
            right: -70vw;

        }

        @media only screen and (min-width: 800px) and (max-width: 940px) {

            top: -170vh !important;
            right: -90vw;

        }

        @media only screen and (min-width: 800px) and (max-width: 900px) {

            top: -190vh !important;
            right: -110vw;

        }

        @media only screen and (min-width: 600px) and (max-width: 800px) {

            top: -70vw;
            right: -50vw;
            width: 100vw;
            height: 100vw;

        }

        @include media-query(mobile) {

            display: none;

        }

        z-index: -1;
        position: absolute;
        top: -90vh;
        right: -40vw;
        width: 1293px;
        height: 1293px;
        background: color(tertiary-text);
        clip-path: ellipse();

    }

    &-left {

        @include media-query(pc) {

            min-width: 500px;

        }

        @include media-query(tablet) {

            max-width: 50%;

        }

        @include media-query(small-tablet) {

            margin-top: 20px;

        }

        @include media-query(mobile) {

            margin: auto;
            margin-top: 70px;
            max-width: 480px;

        }

        margin-top: 60px;
        margin-right: 50px;
        max-width: 600px;

        h1 {

            @include media-query(tablet) {

                @include font-size-override(xx-large);
                line-height: 40px;

            }

            @include media-query(small-tablet) {

                @include font-size-override(x-large);

            }

            @include font-size(xxx-large);
            margin-bottom: 16px;
            line-height: 72px;
            font-weight: 400;

        }

        p {

            line-height: 24px;
            color: color(secondary-text);

        }

        &-buttons {

            display: flex;

        }

        &-buttons .button {

            margin-top: 50px;
            max-width: max-content;

            &:first-child {

                margin-right: 25px;

            }

            &:not(:first-child) {

                border-color: color(primary);
                background: transparent;
                color: color(primary);

            }

        }

    }

    &-right {

        @include media-query(big-tablet) {

            max-width: calc(50% - 20px);

        }

        @include media-query(mobile) {

            display: none;

        }

        width: 100%;
        max-width: 495px;

        img {

            width: 100%;

        }

    }

    &-partners {

        @extend  %body-width-and-padding;

        @media only screen and (min-width: 1600px) {

            margin-bottom: 3.5%;

        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 82px;
        width: 100%;

        img {

            display: block;
            width: calc(100% / 8);
            max-width: 142px;
            height: 100%;
            max-height: 50px;

        }

        img:first-child {

            margin-left: 30px;

        }

        img:last-child {

            margin-right: 40px;

        }

    }

}
